<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Restful Booker Suite" verbose="1" >
    <test name="Booking Tests">
        <groups>
            <run>
                <include name="Booking"/>
                <include name="Smoke"/>
                <include name="Regression"/>
                <include name="Health"/>
            </run>
        </groups>
        <classes>
<!--            <class name="com.herocuapp.restfulbooker.CreateBookingTest"/>-->
<!--            <class name="com.herocuapp.restfulbooker.GetBookingsTest"/>-->
<!--            <class name="com.herocuapp.restfulbooker.PartialUpdateBookingTest"/>-->
<!--            <class name="com.herocuapp.restfulbooker.HealthCheckTest"/>-->
        </classes>
    </test>
</suite>

